*{margin: 0;
padding: 0;
}


body{ background-color: rgb(243, 241, 239);
flex-wrap: wrap;}

body h1{color: beige;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 75px;
display: flex;
justify-content: center;}

body h2{ display: flex;
flex-wrap: wrap;}

#wall{ background-color: rgb(138, 96, 81);
width:100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;}

#character-color {width: 250px;
height: 650px;
background-color: burlywood;
position: absolute;
top: 20%;
left: 20%;}

#hat{ width: 0;
height: 0;
border-style: solid;
border-width:0 70px 140px 180px;
border-top-color: transparent;
border-right-color: transparent;
border-left-color: transparent;
border-bottom-color: burlywood;
position: absolute;
top: -140px;
left: 0;}

.layer { 
height: 0;
border-style: solid;
margin-top: 5%;
color: rgba(90, 28, 5, 0.937);
border-width: 10px;
}

#window{display: flex;
flex-direction: row;
justify-content: space-between;
margin:50px ;}
.square{ 
    width: 30px;
height: 30px;
border-style: solid;
background-color: rgb(182, 173, 80);}

.door-1 { display: flex;
justify-content: center;
margin: 0px}

.door{ width: 40px;
height: 100px;
border-style: solid;
background-color: rgb(165, 195, 208);
bottom: 0;
position: absolute;}

#design { width: 100%;
height: 10%;
border-style: solid;
background-color: rgb(133, 133, 71);
bottom: 15%;
position: absolute;}

#form{display: flex;
flex-wrap: wrap;
background-color: white;
position: absolute;
bottom: 0;
width: 100%;
justify-content: center;
font-size: x-large;
}


/*media*/

/*mobile*/

@media screen and (max-width: 420px) , screen and (max-height: 320px)
{body h1 {
        color: beige;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 15px;
        display: flex;
        justify-content: end;
    }

    body h2 {
        display: flex;
        flex-wrap: wrap;
    }

    #wall {
        background-color: rgb(138, 96, 81);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #character-color {
        width: 100px;
        height: 200px;
        background-color: burlywood;
        position: absolute;
        top: 20%;
        left: 20%;
    }

    #hat {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 70px 140px 30px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: burlywood;
        position: absolute;
        top: -140px;
        left: 0;
    }

    .layer {
        height: 0;
        border-style: solid;
        margin-top: 5%;
        color: rgba(90, 28, 5, 0.937);
        border-width: 5px;
    }

    #window {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
    }

    .square {
        width: 30px;
        height: 30px;
        border-style: solid;
        background-color: rgb(182, 173, 80);
    }

    .door-1 {
        display: flex;
        justify-content: center;
        margin: 0px
    }

    .door {
        width: 40px;
        height: 100px;
        border-style: solid;
        background-color: rgb(165, 195, 208);
        bottom: 0;
        position: absolute;
    }

    #design {
        width: 100%;
        height: 10%;
        border-style: solid;
        background-color: rgb(133, 133, 71);
        bottom: 15%;
        position: absolute;
    }

    #form {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        position: absolute;
        width: 100%;
        justify-content: center;
        font-size: xx-small;
        height: 100px;
    }
    
}

/*iPad*/
@media screen and (max-width: 1024px),
screen and (max-height: 768px){

body h1 {
        color: beige;
        font-size: 40px;
    }
       
#character-color {
    width: 250px;
    height: 400px;}

#form {
  
    height: 100px;}

body h1{justify-content: end;}
    
}

/*desktop*/

@media screen and (max-width: 1680px),
screen and (max-height: 1050px) {

body h1{ justify-content: end;}
}